#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

.retrodefinition
  font-family: "georgia serif"
  float: right
  i
    display: block
  sup
    font-size: xx-small
    vertical-align: super

