<meta http-equiv="refresh" content="0; url=https://srl295.github.io/about/">
<h1>
    Redirecting to the <a href="/about/">About Me</a> page…
</h1>

<%- partial('_partial/archive', {pagination: 2, index: true}) %>
